{% extends "base_template.html" %} {% block content %}

<div class="row">
  <div class="col text-center"><h1>Add project page</h1></div>
</div>

<div class="row">
  <div class="col">
    <form method="post">
      <div class="row">
        <div class="col">Publish? <input type="checkbox" name="publish" /></div>
      </div>

      <input
        id="title-input"
        type="text"
        autocomplete="off"
        name="title"
        class="form-control text-center"
        placeholder="Project title"
        aria-label="Project title"
        required
      />

      <hr />

      <!-- tags -->
      <input
        id="title-input"
        type="text"
        autocomplete="off"
        name="tags"
        class="form-control text-center"
        placeholder="Enter tags here..."
        aria-label="Tags"
      />

      <hr />

      <textarea
        id="content-input"
        autocomplete="off"
        name="description"
        class="form-control"
        aria-label="With textarea"
        required
      ></textarea>

      <hr />

      <!-- github link -->
      <input
        id="title-input"
        type="text"
        autocomplete="off"
        name="github-link"
        class="form-control text-center"
        placeholder="Enter github link here..."
        aria-label="Tags"
      />

      <hr />

      <!-- live_link -->
      <input
        id="title-input"
        type="text"
        autocomplete="off"
        name="live-link"
        class="form-control text-center"
        placeholder="Enter live link here..."
        aria-label="Tags"
      />

      <hr />

      <textarea
        id="content-input"
        autocomplete="off"
        name="description"
        class="form-control"
        aria-label="With textarea"
        required
      >
Enter screenshots URLs here separated by commas</textarea
      >

      <hr />

      <div class="row">
        <div class="col">
          <a href="">
            <button type="button" class="btn btn-primary btn-block btn-lg">
              Back
            </button>
          </a>
        </div>

        <div class="col">
          <button type="submit" class="btn btn-success btn-block btn-lg">
            Post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />

{% endblock %}
