{% extends "base_template.html" %}
<!--  -->
{% block content %}

<!-- {{ project }} -->

<div class="row">
  <div class="col text-center"><h1>Edit project page</h1></div>
</div>

<div class="row">
  <div class="col">
    <form method="POST">
      <label for="tags">Enter a title below:</label> <input id="title-input"
      type="text" autocomplete="off" name="title" class="form-control
      text-center" placeholder="Project title" value="{{ project[0]["title"] }}"
      aria-label="Project title" required />

      <!-- tags -->
      <label for="tags">Enter comma separated tags below:</label> <input
      id="title-input" type="text" autocomplete="off" name="tags"
      class="form-control text-center" {% if project[0]['tags'] %} {% for tag in
      project[0]["human_readable_tags"] %} value="{{ project[0]["human_readable_tags"]|join(", ")











      }}" {% endfor %} {% else %} placeholder="Enter tags here..." {% endif %}
      aria-label="Tags" />

      <label for="description">Enter a description below:</label>
      <textarea
        id="content-input"
        autocomplete="off"
        name="description"
        class="form-control"
        aria-label="With textarea"
        required
        >{{ project[0]["description"] }}</textarea
      >

      <!-- github link -->
      <label for="git hub link">Enter a GitHub URLs below:</label> <input
      id="title-input" type="url" autocomplete="off" name="git_link" {% if
      project[0]['git_link'] %} value="{{ project[0]["git_link"] }}"{% endif %}
      class="form-control text-center" placeholder="Enter github link here..."
      aria-label="Tags" />

      <!-- live_link -->
      <label for="live link">Enter a live URL below:</label> <input type="url"
      id="title-input" autocomplete="off" name="live_link" {% if
      project[0]['live_link'] %} value="{{ project[0]["live_link"] }}" {% endif
      %} class="form-control text-center" placeholder="Enter live link here..."
      aria-label="Tags" />

      <hr />

      <label for="screenshots">Enter screenshot URLs below:</label>
      <textarea
        type="url"
        id="content-input"
        autocomplete="off"
        name="screenshots"
        class="form-control"
        aria-label="With textarea"
      ></textarea>

      <hr />

      <div class="row">
        <div class="col">
          Publish? <input type="checkbox" name="publish" {% if
          project[0]['datetime_published'] %} checked {% endif %} />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col">
          <a
            href="{{url_for('projects.get_project', project_id=project[0]['project_id'])}}"
          >
            <button type="button" class="btn btn-primary btn-block btn-lg">
              Back
            </button>
          </a>
        </div>

        <div class="col">
          <button type="submit" class="btn btn-success btn-block btn-lg">
            Post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />

{% endblock %}
