{% extends "base_template.html" %} {% block content %}

<!-- <h1>{{json_data}}</h1> -->
<div class="row text-center">
  <div class="col"><h1>Tags</h1></div>
</div>

<hr />

<!-- <h1>{{ tags }}</h1> -->

<div class="row">
  <div class="col text-center">
    {% for tag in tags %}
    <a
      href="{{ url_for('projects.get_project_by_tag', tag_name=tag['tag_name']) }}"
    >
      <button type="button" class="btn btn-outline-success btn-lg">
        {{ tag["human_readable_tag"] }}
      </button>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
